// colors

$heading-color: #FFFFFF;
$title-color: #141414;
$descr-black-color: #000000;
$descr-color: #868383;
$yellow-color: #FFA902;
$btn-hover-color: #F3A100;
$main-bg-color: #F9F9F9;
$error-color: #FF4D4F;
$border-color: rgba(255, 255, 255, 0.6);
$input-color: #D9D9D9;
$menu-item-color: #262626;

// fonts


$regular-fonts-family: 'PoppinsRegular', sans-serif;
$semi-bold-font-family: 'PoppinsSemiBold', sans-serif;
$weight-400: 400;
$weight-600: 600;